{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "jsxBracketSameLine": false,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "printWidth": 100,
  "bracketSpacing": true
}
