.el-container {
  height: 100vh;
}

.el-header {
  background-color: #b3c0d1;
  color: var(--el-text-color-primary);
  line-height: 60px;
}

.el-aside {
  color: var(--el-text-color-primary);
}

.el-menu-item-group__title {
  padding: 0 !important;
}
