@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables.module.scss';
@import './mixin.scss';
@import './element-push.scss';
@import './transition.scss';
@import './sidebar.scss';
@import './layout.scss';
@import './vars.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

body {
  @include bodyScrollBar;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.4;
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 400;
  color: var(--c-text);
  background-color: var(--c-bg);
  direction: ltr;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

html,
body,
#app {
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--c-brand);
  text-decoration: none;
  touch-action: manipulation;
}

a,
a:focus,
a:hover {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}

// 进度条颜色
#nprogress .bar {
  background-color: plum !important;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.mr-6 {
  margin-right: 24px;
}

.mt-2 {
  margin-top: 6px;
}

img {
  max-width: 100%;
}

button:focus {
  outline: none;
}
