// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@import './variables.module.scss';
@import './mixin.scss';
@import './element-push.scss';
@import './transition.scss';
@import './sidebar.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include scrollBar;
  height: 100%;
}

/* 滚动条宽度 */
body::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

body::-webkit-scrollbar-track {
  margin-top: 50px;
  background: #e0e4f6;
  border-radius: 12px;
}

body::-webkit-scrollbar-thumb {
  background: #666e8f;
  border-radius: 12px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #999;
  text-decoration: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: #aaa;
  text-decoration: none;
}

// 进度条颜色
#nprogress .bar {
  background-color: plum !important;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.mr-6 {
  margin-right: 24px;
}

.mt-2 {
  margin-top: 6px;
}

img {
  max-width: 100%;
}
