@tailwind base;
@tailwind components;
@tailwind utilities;

@import './mixin.scss';
@import './element-push.scss';
@import './transition.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include scrollBar;
  height: 100%;
}
