@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

@mixin bodyScrollBar {
  &::-webkit-scrollbar-track-piece {
    background: var(--c-gray-bg);
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background: var(--c-gray-bg);
  }

  &::-webkit-scrollbar-track {
    margin-top: 50px;
    background: #e0e4f6;
    border-radius: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--c-scrollbar);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--c-scrollbar-hover);
  }
}

@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
