/** Base Styles */
:root {
  /**
   * Colors
   * --------------------------------------------------------------------- */
  --c-bg: #fff;
  --c-gray-bg: #f0f2f5;
  --c-bg-semi: rgb(255 255 255 / 80%);
  --c-bg-secondary: #f3f5f7;
  --c-white: #fff;
  --c-black: #000;
  --c-divider-light: rgb(60 60 67 / 12%);
  --c-divider-dark: rgb(84 84 88 / 48%);
  --c-text-light-1: #2c3e50;
  --c-text-light-2: #476582;
  --c-text-light-3: #90a4b7;
  --c-text-2: rgb(60 60 60 / 70%);
  --c-brand: #3ab9d4;
  --c-brand-active: #3ab9d4;
  --c-brand-dark: #3ab9d4;
  --c-brand-light: #3ab9d4;
  --c-disabled-bg: #e5e5e5;
  --c-disabled-fg: #666;
  --c-scrollbar: #0003;
  --c-scrollbar-hover: #99a9bf;
  --c-divider: var(--c-divider-light);
  --c-text: var(--c-text-light-1);
  --c-text-light: var(--c-text-light-2);
  --c-text-lighter: var(--c-text-light-3);

  /**
   * Typography
   * --------------------------------------------------------------------- */

  --font-family-base: 'Inter', apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen, ubuntu,
    cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-family-mono: 'IBM Plex Mono', source-code-pro, menlo, monaco, consolas, 'Courier New',
    monospace;

  /**
   * Shadows
   * --------------------------------------------------------------------- */

  --shadow-1: 0 1px 2px rgb(0 0 0 / 4%), 0 1px 2px rgb(0 0 0 / 6%);
  --shadow-2: 0 3px 12px rgb(0 0 0 / 7%), 0 1px 4px rgb(0 0 0 / 7%);
  --shadow-3: 0 12px 32px rgb(0 0 0 / 10%), 0 2px 6px rgb(0 0 0 / 8%);
  --shadow-4: 0 14px 44px rgb(0 0 0 / 12%), 0 3px 9px rgb(0 0 0 / 12%);
  --shadow-5: 0 18px 56px rgb(0 0 0 / 16%), 0 4px 12px rgb(0 0 0 / 16%);

  /**
   * Sizes
   * --------------------------------------------------------------------- */

  --header-height: 3.6rem;
  --sidebar-width: 17.5rem;
  --scrollbar-width: 0;
}

html.dark {
  --c-bg: #111;
  --c-gray-bg: #111;
  --c-bg-semi: rgb(17 17 17 / 80%);
  --c-bg-secondary: #222;
  --c-text: #f5f7fa;
  --c-text-2: rgb(235 235 235 / 60%);
  --c-text-light: #f9f9f9;
  --c-text-lighter: #fff;
  --c-divider-light: rgb(200 200 200 / 12%);
  --c-divider-dark: rgb(200 200 200 / 48%);
  --c-scrollbar: #222;
  --c-scrollbar-hover: #99a9bf;
  --c-disabled-bg: #333;
  --c-disabled-fg: #aaa;
}

.no-sidebar {
  --sidebar-width: 0;
}
