// reset style

// sidebar icon
.el-menu-item .el-icon:first-child,
.el-sub-menu .el-icon:first-child {
  width: 22px;
}

.el-menu-item {
  transition: background-color var(--el-transition-duration) !important;
}

.vzr-header-container {
  .el-badge__content {
    right: 10px !important;
  }
}

// setting drawer
.el-drawer__header {
  border-bottom: 1px solid #f0f0f0;
  margin: 0 !important;
  padding: 16px 24px;
}

.v-drawer-body {
  .el-switch {
    height: 100%;
  }
}

// Drawer setting scrollbar
.el-drawer__body {
  @include scrollBar;
}

// login
.login {
  .el-form-item__content label {
    margin-bottom: 0;
  }

  .el-divider--horizontal {
    margin: 14px 0;
  }
}
